@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


*{
    margin: 0px;
    padding: 0px;

  }
  html{
    scroll-behavior: smooth;
  }

  h1{
    font-family: "Bebas Neue";
    text-align: center;
    font-size: clamp(3em, 7vw, 6em);
    padding-top: 140px;
    color: white;
    font-family: 'Special Gothic Expanded', sans-serif;
  }
  h2{
    font-family: 'Playfair Display', serif;
  }
  h3{
    font-family: 'Playfair Display', serif;
  }
  header{
    background-image: url(imagens/pg1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
  }
  
  header>p{
    text-align: center;
    font-size:clamp(20px, 4vw, 2em) ;
    color: white;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  nav{
    background-color: rgba(1, 77, 200, 0);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 32px;
    flex-wrap: wrap;
    min-width: 600px
  }

  .nome{
    text-align: left;
    font-size: clamp(10px, 5vw, 20px);
  }

  .links{
    display: flex;
    gap: 24px;
    list-style: none;

  }

  .links a{
    gap: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: clamp(10px, 5vw, 20px);
    background-color:#003F79; 
    padding: 4px;
    border-radius: 5px;
    
  }

  .links :hover{
    color: #003F79;
    transition: 1s;
    text-decoration: underline;
    background-color: aliceblue;

  }

  #zap{
    width: 30px;
    text-align: center;
    background-color: rgb(245, 245, 245);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 1px 10px black;
  }

  #zap:hover{
    background-color: #003F79;
    transition: 0.4s;
    width: 35px;
  }
  @media screen and (max-width: 610px) {
  .links {
    flex-direction: column;
    display: none;
    width: 100%;
    margin-top: 12px;
    }
    .header{
      background-image: url(imagens/pg11.png);
    }
  }
  body{
    background-color: rgb(238, 238, 238);
  }

  main{
  background-color: rgb(255, 255, 255);
  }
  
  #sobre>h2{
    text-align: center;
    padding-top: 30px;
    font-size: clamp(2em, 4vw, 3em);
    padding-bottom: 30px;
  }

  .carta{
    width: 400px;
    height: 350px;
    background-color: #003F79;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding-bottom: 50px;
    box-shadow: 4px 1px 10px black; 
  }
  .carta>p{
    font-size: 1.4em;
    margin: 10px;
    margin-top: 10px;
    color: white;
    text-align: justify;
  }
  
  .carta:hover{
    background-color: rgb(65, 153, 241);
    transition: 1s;
  }
  @media screen and (max-width: 600px) {
    .carta{
      width: 80%;
    }
    .carta>p{
      font-size: 20px;
    }
  }
#incluso {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  margin-bottom: 60px;
  margin-top: 60px;
  font-size: clamp(2em, 4vw, 3em);
}

/* Container que organiza as cards lado a lado */
.features-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap; /* para responsividade */
}

/* Cards */
.feature-item {
  background:  #003F79;
  padding: 70px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 4px 1px 10px rgba(0, 0, 0, 0.995);
  transition: transform 0.3s ease;
  flex: 1 1 300px; /* base 300px, flexível para crescer */
  max-width: 350px;
  margin-bottom: 10px;
}
.feature-item>h3{
  font-size: clamp(1.5em, 3vh, 2em);
  padding-bottom: 8px;
}

.feature-item>p{
  color: white;
  font-size: clamp(1em, 3vh, 2.5em);
}

.feature-item:hover {
  transform: translateY(-10px);
}

#contato{
background-image: url(imagens/dois.png);
background-size: cover;
background-position: center;
}
#contato>h2{
  color: white;
  text-align: center;
  font-size: clamp(2em, 4vw, 3em);
  padding-top: 30px;
}

.insta{
  margin: 20px;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 4px 1px 10px white;
  text-decoration: none;
  
}

#contato>p{
  color: #ffffff;
  margin: 20px;
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: clamp(1em, 4vw, 1.5em);
}

.zapzap{
  margin: 20px;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 4px 1px 10px white;
  text-decoration: none;
  
}

.zapzap:hover{
  background-color: rgb(17, 255, 0);
  box-shadow: 4px 1px 10px rgb(13, 255, 0);
  transition: 1s;
  color: #ffffff;
}

.insta:hover{
  background:linear-gradient(to bottom ,rgb(223, 13, 234), rgb(255, 0, 0));
  transition: 1s;
  box-shadow: 4px 1px 10px rgb(211, 1, 148);
  color: #ffffff;
}
  section{
    min-height: 100vh;
  }
  footer{
    background-color:  rgb(253, 253, 253);
    text-align: center;
  }