@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;

  }

  h1{
    font-family: "Bebas Neue";
  }
  header{
    background-color: rgb(1, 78, 200);
    min-height: 100vh;
  }
  body{
    background-color: rgb(245, 244, 247);
  }
  main{
  background-color: rgb(224, 224, 224);
  margin: 10px;
  }

  section{
     min-height: 100vh;
  }
  footer{
    background-color:  rgb(1, 78, 200);
  }